site_name: 椰萝Yerosius的博客
site_description: 椰萝Yerosius，主修计算机科学，主要记录技术文档、随笔、感悟等。
site_url: https://yerosius.github.io/blogs
site_author: 椰萝Yerosius
strict: false

repo_name: 'Yerosius/blogs'
repo_url: 'https://github.com/Yerosius/blogs'
edit_uri: edit/main/docs/

copyright: Copyright &copy; 2025 椰萝Yerosius All Rights Reserved.

theme:
  name: material
  language: zh
  custom_dir: docs/overrides
  icon: 
    logo: material/school
    repo: fontawesome/brands/github

  include_search_page: false
  search_index_only: true

  font: 
    code: 'Fira Mono'

  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: 切换日间
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: white
      accent: red
      toggle:
        icon: material/weather-sunny
        name: 切换夜间
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: teal
      toggle:
        icon: material/weather-night
        name: 跟随系统

  features:
    - announce.dismiss
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.select
    - content.code.select
    - content.tooltips
    - content.footnote.tooltips
    - navigation.footer
    - navigation.indexes
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.progress
    - navigation.prune
    - navigation.tracking
    - navigation.tabs
    - navigation.sections
    - navigation.path
    - search.suggest
    - search.highlight
    - search.share
    - content.code.copy
    - content.tabs.link
    - navigation.indexes
    - navigation.top
    - navigation.back_to_top
    - toc.follow

markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - meta
  - toc:
      permalink: true
  - tables
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      normalize_issue_symbols: true
      repo_url_shorthand: true
      user: squidfunk
      repo: mkdocs-material
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets:
      auto_append:
        - includes/mkdocs.md
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
        - name: math
          class: arithmatex
          format: !!python/name:pymdownx.arithmatex.fence_mathjax_format
  - pymdownx.tabbed:
      alternate_style: true
      combine_header_slug: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde 
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.highlight:
      linenums: true
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true

plugins:
  - tags
  - search
  - mermaid2
  - glightbox
  - git-revision-date-localized:
      type: date
      fallback_to_build_date: true
      enable_creation_date: true
  - minify:
      minify_html: true
  - awesome-pages
  - toggle-sidebar: 
      theme: material 
      toggle_button: all
  - git-authors
  - git-committers:
      repository: yerosius/blogs
      branch: main
  - offline

extra:
  comments:
    enabled: true
  consent:
    title: 隐私提示
    description: >- 
      本站使用 Google Analytics 收集和分析用户访问数据，以帮助我们优化网站内容和服务。Google Analytics 可能会收集您的 IP 地址、设备信息、浏览器类型、访问时间及访问页面等非个人身份信息。我们不会将收集到的数据与您的个人身份信息进行关联。继续使用本网站即表示您同意 Google Analytics 的数据收集与使用。
  status:
    new: 新内容
    deprecated: 已弃用
    draft: 草稿
  pagetime: 'on'
  githash: ''
  analytics:
    provider: google
    property: G-Y227H1980C

extra_javascript:
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

site_dir: site
